<div class="txt-titulo-form" style="text-align: center; width: 100%;">
  <h2>REGISTRAR UM LEMBRETE</h2>
</div>

<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Informe o título</mat-label>
    <input matInput placeholder="Titulo" formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Informe a descrição</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Selecione a prioridade</mat-label>
    <mat-select placeholder="Selecione uma prioridade" [disabled]="form.value.editMode" formControlName="priority" ngDefaultControl>
      <mat-option value="baixa">Baixa</mat-option>
      <mat-option value="media">Média</mat-option>
      <mat-option value="alta">Alta</mat-option>
    </mat-select>
  </mat-form-field>

</form>

<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onCloseDialog()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" color="primary" (click)="onSubmit(form)">Cadastrar</button>
</div>

